doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug
        

        main.container
            .card
                .card-header
                    .row
                        .col
                            h3 Areas
                        .col.text-right
                            a.btn.btn-primary(href='/area/create') New area
                .card-body
                    if areas.length > 0
                        .form-group
                                input.form-control#search(placeholder='Search')
                        .table-responsive
                            table.table.table-hover.border
                                thead
                                    tr
                                        th name
                                        th 
                                tbody
                                    each area in areas
                                        tr
                                            td= area.name
                                            td.text-right
                                                a.btn.btn-primary.btn-sm.mr-3(href='/area/update/'+area.id)
                                                    span.icon-pencil
                                                form.my-form(action='/area/remove/'+area.id, method='POST')
                                                    button.btn.btn-danger.btn-sm(type='submit')
                                                        span.icon-bin
                    else
                        h6.text-center.text-muted No areas to show

