doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            .card
                .card-header 
                    h3 Create spec
                .card-body
                    form(action='/spec/create', method='POST')
                        .form-group
                            label(for='name') Name
                            input.form-control(name='name')
                            small.form-text.text-muted Fill name

                        button.btn.btn-primary(type='submit') Create
                