html, body {
    color: #424242;
    height: 100%;
    width:100;
}
h1,h2,h3,h4,h5,h6{
    color: #424242;
}
main.container {
    margin-top: 20px;
}

.my-form {
    float: right;
}

#symptomsGroup {
    display: none;
}

#disaeContainer {
    padding: 10px;
    text-align: center;
}


#disaesCard {
    display: none;
}

.rating {
    color: #424242;
}
.rating:hover {
    color: #868686;
}

#symptoms_buttons {
    min-height: 78px;
}
#symptomsGroup{
    display: none;
}

#waitContainer{
    position: absolute;
    z-index: 999;
    background: white;
    top: 0px;
    bottom: 0px;
    opacity: 0.8;
    width: 100%;
}
.vertical-center{
    display: block;

    position: relative;
    top: 50%;
    margin: 0 auto;

}