main.container {
    margin-top: 20px;
}

.my-form {
    float: right;
}

#symptomsGroup {
    display: none;
}

#disaeContainer {
    padding: 10px;
    text-align: center;
}


#disaesCard {
    display: none;
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-pencil:before {
    content: "\e905";
}
.icon-plus:before {
    content: "\ea0a";
  }
  .icon-search:before {
    content: "\e986";
  }