doctype html
html(lang='pl')
    head
        include ../partial/head.pug
        script(src='searchScript.js')
    body
        include ../partial/header.pug
        main.container
            .card
                .card-body
                    .form-group.text-center
                        each area in areas
                            button.btn.btn-outline-secondary.mr-3.area-button(id=area._id)
                                img(src=`/${area.name}.svg`)
                                span=area.name
                        select#area(name='area', hidden)
                            each area in areas
                                option(value=area.id)= area.name
                    .card
                        .card-body#symptoms_buttons
                            h5.text-muted.text-center.mt-1 Select area
                    .form-group#symptomsGroup
                            select#symptoms(name='symptoms', multiple, hidden)
                .card-footer.p-0.bg-light
                    button#searchButton.btn.btn-primary.btn-block.text-center.rounded-bottom(disabled)
                        i.fas.fa-search
                        span.ml-1 search
            .card.mt-3#disaesCard
                .card-header.text-center 
                    h5 Disaes
                .card-body#disaeContainer





