doctype html
html(lang='pl')
    head
        include ../partial/head.pug
        link(rel='stylesheet', href='/bootstrap-datepicker3.min.css')
        script(src='/bootstrap-datepicker.min.js')
    body
        include ../partial/header.pug

        main.container
            .card
                .card-header
                    .row
                        .col
                            h3 Searches
                .card-body
                    if searches.length > 0
                        .form-group
                            .row
                                .col
                                    label(for='from') From
                                    input#from_datepicker.form-control.text-center(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                                .col
                                    label(for='to') To
                                    input#to_datepicker.form-control.text-center(data-provide='datepicker',  data-date-format="dd/mm/yyyy")
                        .table-responsive
                            table#searchesTable.table.table-hover.border
                                thead
                                    tr
                                        th area
                                        th symptoms
                                        th date
                                        th
                                tbody
                                    each search in searches
                                        tr
                                            td=search.area.name
                                            td=search.symptoms.map(s => s.name).join(',')
                                            td=search._id.getTimestamp().toLocaleString()
                                            td
                                                form.my-form(action='/search/remove/'+search.id, method='POST')
                                                    button.btn.btn-danger.btn-sm(type='submit') 
                                                        span.icon-bin
                               
                    else
                        h6.text-center.text-muted No searches to show

