doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            .card(style='width: 300px; margin: 0 auto;')
                .card-header 
                    h3 Załóż nowe konto
                .card-body
                    form(action='/signup', method='POST')
                        .form-group
                            input.form-control(name='username', placeholder='Nazwa użytkownika')
                        .form-group
                            input.form-control(name='password', type='password', placeholder='Hasło')
                        .form-group
                            input.form-control.confirm(type='password', placeholder='Potwierdź hasło')

                        button.btn.btn-primary.btn-block.register(type='submit') Załóż
                