doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            if message
                .alert.alert-danger.my-alert= message
            .card(style='width: 300px; margin: 0 auto;')
                .card-header 
                    h3 Zaloguj się
                .card-body
                    form(action='/signin', method='POST')
                        .form-group
                            input.form-control(name='username', placeholder='Nazwa użytkownika')
                        .form-group
                            input.form-control(name='password', type='password', placeholder='Hasło')

                        button.btn.btn-primary.btn-block(type='submit') Zaloguj
                