header
    nav.navbar.navbar-dark.border-bottom-teal.navbar-expand-lg.bg-dark
        .container
            a.navbar-brand(href='/').p-0
                Web Doctor
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#n',  aria-expanded="false",aria-label="Toggle navigation",style='border: 1px solid #39CCCC;')
                span.navbar-toggler-icon
            #n.navbar-collapse.collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/area') Area
                    li.nav-item.active
                        a.nav-link(href='/spec') Spec
                    li.nav-item.active
                        a.nav-link(href='/symptom') Symptom
                    li.nav-item.active
                        a.nav-link(href='/disae') Disae
                    li.nav-item.active
                        a.nav-link(href='/search') Search
