header
    nav.navbar.navbar-dark.navbar-expand-md.bg-dark
        .container
            a.navbar-brand(href='/').p-0
                Web Doctor
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#n',  aria-expanded="false",aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #n.navbar-collapse.collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/area') Area
                    li.nav-item.active
                        a.nav-link(href='/spec') Spec
                    li.nav-item.active
                        a.nav-link(href='/symptom') Symptom
                    li.nav-item.active
                        a.nav-link(href='/disae') Disae
                    li.nav-item.active
                        a.nav-link(href='/search') Search
                    li.nav-item.active
                        a.nav-link(href='/question') Question
                .form-inline.mt-2.mt-md-0
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link.text-light(href='signin') Sign in
                        li.nav-item
                            a.btn.btn-outline-light(href='/signup') Sign up